.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-box{
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../public/oval-bg.png");
  width: 718px;
  height: 455px;
}

body{
  background-color: rgb(151, 249, 151);
}

.homepage{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 70px;
  font-size: 1.3em;
}

.homepage h2{
  color: #C0E3BE;
}

.buttons-home{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.buttons-home a{
  background-color: rgb(151, 249, 151);
  text-decoration: none;
  color: black;
  padding: 5px 30px;
  border-radius: 5px;
}

.homepage p{
  text-align: left;
  margin: 0px 250px 100px 0px;
  color: rgb(133, 123, 123);
}